<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>조건설정</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <style>
        html { overflow-y: scroll; }
        body { padding-top: 50px; }
        body, html {width: 100%; height: 100%; margin: 0; padding: 0}
        .container {position: absolute;top: 0; left: 0; right: 0; height: 300px;}
        .iframe-container {position: absolute; top: 300px; left: 0; right: 0; bottom: 0;}
        .iframe-container iframe {display: block; width: 100%; height: 100%; border: none;}
    </style>
</head>
<body ng-controller="mainController">
    <div class="container">
        <div class="jumbotron text-center">
            <h1>조건설정</h1>
        </div>
        <div>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- p2pcbot -->
          <ins class="adsbygoogle"
          style="display:inline-block;width:728px;height:90px"
          data-ad-client="ca-pub-6622047882833845"
          data-ad-slot="4156311943"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
    </div>
    <div class="iframe-container">
            <iframe src="/<%= sess_id %>/body" frameborder="0" width="100%">Your browser is kaput!</iframe>
    </div>
</body>
</html>
